.App {
  text-align: center;
}
* {
  box-sizing: border-box;
}
.space {
  height: 20px;
}

button {
  margin-left: 20px;
  margin-bottom: 20px;
  width: 170px;
  height: 50px;
}
.textBox {
  display: inline;
  width: 200px;
  height: 20px;
  background-color: aqua;
  text-align: center;
}
.select-box {
  width: 370px;
  height: 20px;
}